# Pandas Serisi Oluşturma

In [1]:
 import pandas as pd

## Liste üzerinden Pandas Serisi Oluşturma:

**Pandas serisini "Series()" metodu ile oluştururuz.**

In [27]:
seri = pd.Series([10,20,30,40,50,60,70,80,90,100])
seri

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

**Yukarıda bir pandas serisi oluşturduk.<br>
En solda 0'dan 4'e kadar devam eden bölüm <i>indeksleri</i> <br>
Diğer kısım ise <i>seriyi</i> ifade eder.**

Serinin yapısal özelliklerine **axes** metodunu kullanarak erişebiliriz.

In [28]:
seri.axes
#İndeks 0'dan başlamış, 5'e kadar gitmiş, birer birer artmış.

[RangeIndex(start=0, stop=10, step=1)]

Veri tipini sorgulamak istiyorsak **dtype** metodunu kullanırız

In [29]:
seri.dtype

dtype('int64')

İçindeki eleman sayısını **size** metoduyla buluruz.

In [30]:
seri.size

10

Boyut sayısını **ndim** metoduyla buluruz.

In [31]:
seri.ndim

1

Boyut bilgisine **shape** metoduyla ulaşırız.

In [32]:
seri.shape

(10,)

İçerdiği elemanlara **values** metoduyla ulaşırız. Değerler numpy dizisi haline getirilir.

In [33]:
a=seri.values
print(type(a))
a

<class 'numpy.ndarray'>

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100], dtype=int64)

Serinin ilk 5 değerine **head()** metoduyla ulaşırız.
Parantez içine n yazarsak ilk n terime ulaşırız.

In [34]:
seri.head()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [35]:
seri.head(7)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

**head()** metodunun tersi olarak ise **tail()** metodunu kullanırız.<br>
Bu metod son 5 terimi gösterir. Parantez içine n yazarsak son n terime ulaşırız.

In [36]:
seri.tail()

5     60
6     70
7     80
8     90
9    100
dtype: int64

In [37]:
seri.tail(8)

2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

#### İndeks İsimlendirmesi:

Yeni seri oluşturalım

In [51]:
h=pd.Series([78,64,19,57,48,32], index = [2,4,6,8,10,12])
h

2     78
4     64
6     19
8     57
10    48
12    32
dtype: int64

Rakamlar dışında da seri oluşturabiliriz.

In [43]:
notlar = pd.Series(["AA","AA","BA","AA","BA","AA"], index = ["Fizik2","Matematik2","Olasılık ve İstatistik","İngilizce","Web Teknolojileri", "Nesneye Dayalı Programlama"])
notlar

Fizik2                        AA
Matematik2                    AA
Olasılık ve İstatistik        BA
İngilizce                     AA
Web Teknolojileri             BA
Nesneye Dayalı Programlama    AA
dtype: object

In [44]:
notlar["Fizik2"]

'AA'

In [45]:
notlar["Fizik2"::2]

Fizik2                    AA
Olasılık ve İstatistik    BA
Web Teknolojileri         BA
dtype: object

## Sözlük üzerinden Pandas Serisi Oluşturma:

In [46]:
plaka= {"Çorum":19, "Sakarya":54,"İstanbul":34,"Ankara":6, "Kocaeli":41}

In [48]:
plaka_serisi=pd.Series(plaka)
plaka_serisi

Çorum       19
Sakarya     54
İstanbul    34
Ankara       6
Kocaeli     41
dtype: int64

In [50]:
pd.Series({"Çorum":19, "Sakarya":54,"İstanbul":34,"Ankara":6, "Kocaeli":41})

#Böyle de oluşturulabilir.

Çorum       19
Sakarya     54
İstanbul    34
Ankara       6
Kocaeli     41
dtype: int64

## İki Seriyi Birleştirerek Seri Oluşturma:

In [54]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
s2 = pd.Series([10,20,30,40,50,60,70,80,90,100])

In [55]:
s3 = pd.concat([s1,s2])
s3

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64