# İleri Toplulaştırma İşlemleri(Aggregate)

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame({"Gruplar": ["A","B","C","A","B","C"],
                   "değişken1": [10,20,30,40,50,60],
                   "değişken2": [111,222,333,444,555,666]})
df

  Gruplar  değişken1  değişken2
0       A         10        111
1       B         20        222
2       C         30        333
3       A         40        444
4       B         50        555
5       C         60        666

#### Aggregate İşlemi:

In [9]:
df.groupby("Gruplar").mean()

         değişken1  değişken2
Gruplar
A             25.0      277.5
B             35.0      388.5
C             45.0      499.5

In [13]:
df.groupby("Gruplar").aggregate(["min",np.median,max]) 
#pandasın içinde yer alan ve varolduğunu bildiğimiz metodları kullanmak istersek tırnak içinde veya normal yazabiliriz.

        değişken1            değişken2
              min median max       min median  max
Gruplar
A              10     25  40       111  277.5  444
B              20     35  50       222  388.5  555
C              30     45  60       333  499.5  666

In [20]:
df.groupby("Gruplar").aggregate({"değişken1": min, "değişken2": np.std}) 
#Değişken1 e min değeri; değiken2 ye standart sapmayı atadık.

         değişken1   değişken2
Gruplar
A               10  235.466558
B               20  235.466558
C               30  235.466558