# İleri Toplulaştırma İşlemleri(Filter)

Çok karmaşık filtreleme yöntemleri için kullanılır.<br>
Filtrelemek istediğimiz fonksiyonu oluştururuz.<br>
Bunu da **filter()** fonksiyonu içine yazarız.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"Gruplar": ["A","B","C","A","B","C"],
                   "değişken1": [10,20,30,40,50,60],
                   "değişken2": [111,222,333,444,555,666]})
df

  Gruplar  değişken1  değişken2
0       A         10        111
1       B         20        222
2       C         30        333
3       A         40        444
4       B         50        555
5       C         60        666

In [49]:
def filter_func(x):
    return x["değişken1"].std()>20

In [50]:
df.groupby("Gruplar").std()

         değişken1   değişken2
Gruplar
A        21.213203  235.466558
B        21.213203  235.466558
C        21.213203  235.466558

In [51]:
df.groupby("Gruplar").filter(filter_func)

  Gruplar  değişken1  değişken2
0       A         10        111
1       B         20        222
2       C         30        333
3       A         40        444
4       B         50        555
5       C         60        666