# Toplulaştırma(Transform)

In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({"Gruplar": ["A","B","C","A","B","C"],
                   "Değişken1": [10,23,33,22,11,99],
                   "Değişken2": [100,253,333,262,111,969]})

df

  Gruplar  Değişken1  Değişken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

**transform()** metodu ile lambda fonksiyonlarından yararlanarak. Veriler(değişkenler) üzerinde işlem yapalım.
filter() fonksiyonu gibi bunun da içine fonksiyon yazarız.

In [8]:
df1 = df.iloc[:,1:3]
df1

   Değişken1  Değişken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

Şimdi her bir değeri, [(kendisi-aritmetik ortalaması)/standart sapması] olarak değiştirelim

In [9]:
df1.transform(lambda x: (x-x.mean())/x.std())

   Değişken1  Değişken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853