# Pandas DataFrame Oluşturma

Pandas dataframe, yapısal bir veri tipidir.<br>
Excel veri yapısına benzerdir.<br>
Peki numpy varken neden pandas dataframe'ine ihtiyaç var?<br>
**Cevap:** Numpy için fix-type yani sabit veri tipi olduğunu ifade etmiştik. Ama pandas dataframe'inde çeşitli veriler bir arada bulunabilir.

In [15]:
import pandas as pd
import numpy as np

**DataFrame()** metodu ile oluşturulur.

In [18]:
liste1=[2,4,6,8,10]

In [22]:
pd.DataFrame(liste1, columns = ["tek sayi"])

#Tek değişkenli

   tek sayi
0         2
1         4
2         6
3         8
4        10

In [20]:
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [40]:
df1 = pd.DataFrame(m, columns = ["a","b","c"])
df1
#Çok değişkenli

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

## Değişken İsimlerini Değiştirme:

"değişken_ismi.**coloumns**" yazarak sütundaki değişken isimlerini(indekslerini) bulabiliriz.

In [52]:
m = np.arange(1,10).reshape((3,3))
df1 = pd.DataFrame(m, columns = ["a","b","c"], index=["a","b","c"])

In [53]:
df1.columns

Index(['a', 'b', 'c'], dtype='object')

In [54]:
#Değişken isimlerinin hepsini değiştirmek için:
df1.columns= ("değişken1","değişken2","değişken3")
df1

   değişken1  değişken2  değişken3
a          1          2          3
b          4          5          6
c          7          8          9

## Dataframe Bilgilerine Ulaşmak:

In [57]:
df1.axes

[Index(['a', 'b', 'c'], dtype='object'),
 Index(['değişken1', 'değişken2', 'değişken3'], dtype='object')]

In [58]:
type(df1)

pandas.core.frame.DataFrame

In [62]:
#Boyut özelliği
df1.shape

(3, 3)

In [63]:
#Boyut bilgisi
df1.ndim

2

In [66]:
#Eleman sayısı
df1.size

9

In [70]:
df1.values

#Numpy dizisi haline geldi.

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [71]:
type(df1.values)

numpy.ndarray